<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<!-- Será actualizado en cada ingreso de caracter -->
<!-- $event es un nombre de variable reservado que se puede usar en un template cuando se usa event binding -->

<!-- Otra forma de obtener datos -->
<!-- Two way data binding -->
<!-- Se combina property y event binding -->
<input 
    type="text" 
    class="form-control"
    [(ngModel)]="serverName">

<!-- ngModel es una directiva -->

<!-- <p>{{serverName}}</p> -->

<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
    >Add Server</button>  
<!-- [] indican a Angular que estamos usando property binding -->
<!-- () indican que se está usando event binding-->


<!-- Tipos de data binding -->

<!-- Property binging -->
<!-- <p [innerText]="allowNewServer"></p> -->

<!-- String interpolation -->
<p>{{serverCreationStatus}}</p>
<app-server></app-server>
<app-server></app-server>
